<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>toba.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetServlet</servlet-name>
        <servlet-class>toba.login.ResetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewCustomerServlet</servlet-name>
        <servlet-class>toba.login.NewCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewCustomerServlet</servlet-name>
        <url-pattern>/newCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>toba.login.TransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/transaction/*</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_java.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ResetServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>toba.login.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/transfer/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BalDtlsServlet</servlet-name>
    <servlet-class>toba.login.BalDtlsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalDtlsServlet</servlet-name>
    <url-pattern>/balance/*</url-pattern>
  </servlet-mapping>
  
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
